  
{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}
    <h1>Список врачей</h1>
<form method='GET'>
  <input type='text' name='q' value='{{ request.GET.q }}'>
  <input class="button" type='submit' value="Поиск">
</form>
<br/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ФИО ДР</th>
    </tr>
  </thead>
  <tbody>
    {% for doct in object_list %}
    <tr>
      <td>#</td>
      <td><a href="{{ doct.get_absolute_url }}">{{ doct }} {{ doct.birthday|date }} ({{doct.lpu}})</td></li>    
    </tr>
{% empty %}
    <tr>Нет записей.</td>
{% endfor %}   
  </tbody>
</table>
{% endblock %}